<!DOCTYPE html>
<html>
<head>
	<title>SavingPandas</title>
	<link href="css/styles.css" type="text/css"rel="stylesheet" />
</head>
<body>

<div class="logo">
	<img src="images/pandalogo.png" alt="logo" width="120" height="140"/>

</div>

<div id="wrapper">
	<div id="nav">
		<ul>
			<li><a href="/home">Home</a></li>
			<li><a href="/facts">Facts</a></li>
			<li><a href="/adopt">Adopt</a></li>
			<li><a href="/contact">Contact</a></li>
		</ul>
	</div>

	<div id="homeImage">
		<p>The Giant Panda, one of the most delightful and captivating of animals, is also one of the most endangered. The best scientific estimates indicate that there are less than 2,200 Giant Pandas remaining in the world today.</p>

		<p>The mission of Saving the Pandas is to ensure the preservation and propagation of the endangered Giant Panda.</p>

		<p>Saving the Pandas provides awareness and education, support for research, habitat preservation and enhancement, and assistance to Giant Panda Centers.</p>
		<p>
		<br>
		<iframe width="760" height="493" src="https://www.youtube.com/embed/mc-2c-OEiYQ" frameborder="0" allowfullscreen></iframe>
		</p>
	</div>

</div>







</body>
</html>